@{
    ViewBag.Title = "Home Page";
}
<br />
<br />
<br />
<div align="center">
    <form action="~/Agencija/Index">
        <input type="submit" value="Izlistaj agencije" />
    </form>
</div>
<br />

<br />
<div align="center">
    <form action="~/Korisnik/Index">
        <input type="submit" value="Izlistaj korisnike" />
    </form>
</div>
<br />

<br />

<div align="center">
    <form action="~/Ponuda/Index">
        <input type="submit" value="Izlistaj ponude" />
    </form>

</div>